{{ define "addtextHTMX" }}
<div id="text-{{.TextID}}" hx-get="/editText/{{.PageID}}/{{.TextID}}" hx-trigger="click" hx-swap="outerHTML">
	<p>
		{{.Text}}
	</p>
</div>
<small>{{.User}} • {{.CreatedAtStr}} {{ if .Edited }}• Edited {{ end }} {{if and .Source (gt .Source 0)}}<span id="source-{{.Source}}-{{.TextID}}" hx-get="/page/{{.SourcePath}}" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true">• {{.SourceTitle}}</span>{{end}}</small>
{{ end }}
