{{ define "profileHTMX" }}
        <div>
            <h2>{{.Username}}'s Profile</h2>
        </div>
{{ end }}
{{ define "profile" }}
    {{ template "baseheader" . }}
    {{ template "profileHTMX" .}}
    {{ template "basefooter" . }}
{{ end }}
